<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href='css/dashboard.css'>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

  </head>

  <body>


    <!-- Admin Functionalities -->

      <!-- Pending Data Points -->
      <div class="container">
        <div class="card mt-5">
          <div class="card-block">
            <h2 class="display-5 text-center">Pending City Official Accounts</h2>

            <!-- table of data points -->
            <div id="data-points" class="table-responsive mb-4">
              <table class="table">
                <thead>
                  <tr>
                    <th>Select</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Title</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i=0; i<officials.length; i++) {%>
                    <tr>
                      <td scope="row"><input value="checked" type="checkbox" class="form-check-input ml-3"></td>
                      <td value="<%= officials[i].user %>" class="username"><%= officials[i].user %></td>
                      <td value="<%= officials[i].email %>"><%= officials[i].email %></td>
                      <td value="<%= officials[i].city %>"><%= officials[i].city %></td>
                      <td value="<%= officials[i].state %>"><%= officials[i].state %></td>
                      <td value="<%= officials[i].title %>"><%= officials[i].title %></td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </div>

            <div class="d-flex justify-content-start">
              <a href="/admin-dashboard" class="p-2 btn btn-outline-success">Back</a>
              <button id="rejectButton" type="button" class="ml-auto p-2 btn btn-outline-primary">Reject</button>
              <button id="acceptButton" type="button" class="ml-auto p-2 btn btn-outline-primary">Accept</button>
            </div>
          </div>
        </div>
      </div>



    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function() {
        $("#rejectButton").click(function() {
          var rejectOfficial;
          var usernames=[];
          var row = $("#data-points tbody tr").eq(2).find('td').eq(2).text();

          $("#data-points tbody tr").each(function(first, row) {
            $row = $(row);
            rejectOfficial = $row.find('td input:checked');
            rejectOfficial.each(function (second, reject) {
              var reject = $(reject).eq(0);
              //console.log();
              // alert($("#data-points tbody tr").eq(first).find('td').eq(1).text());
              usernames.push($("#data-points tbody tr").eq(first).find('td').eq(1).text());
            })
          });

          var usernames2 = {
            usernames: usernames
          }
          $.ajax({
            type: 'POST',
            url: '/reject-official',
            data: usernames2,
            success: function(result) {
              locations.reload();
            }
          });
        });// end reject button

      });// end document ready
    </script>
  </body>
</html>
