<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href='css/dashboard.css'>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->

  </head>

  <body>

    <!-- Admin Functionalities -->

      <!-- Pending Data Points -->
      <div class="container">
        <div class="card mt-5">
          <div class="card-block">
            <h2 class="display-5 text-center">Pending Data Points</h2>

            <!-- table of data points -->
            <div id="point-table" class="table-responsive mb-4">
              <table class="table">
                <thead>
                  <tr>
                    <th>Select</th>
                    <th>POI Location</th>
                    <th>Data Type</th>
                    <th>Data Value</th>
                    <th>Time and Date of Data Reading</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i=0; i<datapoints.length; i++) {%>
                    <tr>
                      <td scope="row"><input value="checked" type="checkbox" class="form-check-input ml-3"></td>
                      <td value="<%= datapoints[i].poi %>" class="username"><%= datapoints[i].poi %></td>
                      <td value="<%= datapoints[i].datatype %>"><%= datapoints[i].datatime %></td>
                      <td value="<%= datapoints[i].datavalue%>"><%= datapoints[i].datavalue %></td>
                      <td value="<%= datapoints[i].datetime %>"><%= datapoints[i].datetime %></td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </div>

            <div class="d-flex justify-content-start">
              <a href="/admin-dashboard" class="p-2 btn btn-outline-success">Back</a>
              <button id="rejectButton" type="button" class="ml-auto p-2 btn btn-outline-primary">Reject</button>
              <button id="acceptButton" type="button" class="ml-auto p-2 btn btn-outline-primary">Accept</button>
            </div>
          </div>
        </div>
      </div>



    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script>

        $(document).ready(function() {
          $("#rejectButton").click(function() {
            alert("test");
            var rejectpoint;
            var datapoints=[];

            $("#point-table tbody tr").each(function(first, row) {
              $row = $(row);
              rejectpoint = $row.find('td input:checked');
              rejectpoint.each(function (second, reject) {
                var reject = $(reject).eq(0);
                //console.log();
                alert($("#point-table tbody tr").eq(first).find('td').eq(1).text());
                var datapointsCombo = {
                  poi : $("#point-table tbody tr").eq(first).find('td').eq(1).text(),
                  date-time : $("#point-table tbody tr").eq(first).find('td').eq(4).text()
                }
                datapoints.push(datapointsCombo);
              })
            });

            var rejectPoints = {
              datapoints: datapoints
            }
            $.ajax({
              type: 'POST',
              url: '/reject-datapoint',
              data: rejectPoints,
              success: function(result) {
                locations.reload();
              }
            });
          });// end reject button

          $("#acceptButton").click(function() {
            var acceptpoint;
            var datapoints=[];

            $("#point-table tbody tr").each(function(first, row) {
              $row = $(row);
              acceptpoint = $row.find('td input:checked');
              acceptpoint.each(function (second, accept) {
                var accept = $(accept).eq(0);
                //console.log();
                // alert($("#data-points tbody tr").eq(first).find('td').eq(1).text());
                var datapointsCombo = {
                  poi : $("#point-table tbody tr").eq(first).find('td').eq(1).text(),
                  date-time : $("#point-table tbody tr").eq(first).find('td').eq(4).text()
                }
                datapoints.push(datapointsCombo);
              })
            });

            var acceptPoints = {
              datapoints : datapoints
            }
            $.ajax({
              type: 'POST',
              url: '/accept-datapoint',
              data: acceptPoints,
              success: function(result) {
                locations.reload();
              }
            });
          });// end accept button

      });// end document ready
    </script>
  </body>
</html>
