<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href='css/dashboard.css'>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <script src="js/dashboard.js"></script> -->

  </head>

  <body>
    <div class="container">
        <h1>POI Detail</h1></br></br>
        <form role="form" id="filterdp" onsubmit="return false">
          <div class="form-group row">
            <label for="text" class="col-2 col-form-label">POI</label>
            <label for="text" class="col-4 col-form-label"><%= poi %></label>
            <% if (flagged == 0) { %>
      			     <button type="button" id="flag" class="col-1 btn btn-primary">Flag</button>
      			<% } %>
            <% if (flagged == 1) { %>
      			     <button type="button" id="unflag" class="col-1 btn btn-danger">Flag</button>
      			<% } %>
            <input type="hidden" id="poi" value="<%= poi %>">
          </div>
          <div class="form-group row">
            <label for="datatype" class="col-2 col-form-label">Date Type</label>
            <div class="col-6">
              <select id="datatype" class="custom-select">
                <option selected></option>
                <% for(var i=0; i<data_types.length; i++) {%>
                  <option value="<%= data_types[i] %>"><%= data_types[i] %></option>
                <% } %>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="from" class="col-2 col-form-label">Data Value</label>
            <div class="col-2">
              <input class="form-control" type="text" value="" id="valuefrom">
            </div>
            <label for="to" class="col-2 col-form-label">To</label>
            <div class="col-2">
              <input class="form-control" type="text" value="" id="valueto">
            </div>
          </div>
          <div class="form-group row">
            <label for="date" class="col-2 col-form-label">Date&Time</label>
            <div class="col-2">
              <input class="form-control" type="date" value="" id="datefrom">
              <input class="form-control" type="time" value="" id="timefrom">
            </div>
            <label for="to" class="col-2 col-form-label">To</label>
            <div class="col-2">
              <input class="form-control" type="date" value="" id="dateto">
              <input class="form-control" type="time" value="" id="timeto">
            </div>
          </div>
          </br>
          <button type="apply" class="btn btn-default">Apply Filter</button>
          <a class="btn btn-link" href="/city-official-POI-detail?poi=<%= poi %>" role="button">Reset Filter</a>
        </form>
      </br>
      </br>
        <table class="table table-striped table-hover" id="dptable">
          <thead>
            <tr>
              <th>Data Type</th>
              <th>Data Value</th>
              <th>Time & Date of reading</th>
            </tr>
          </thead>
             <tbody>
             </tbody>
        </table>
        <a class="btn btn-link" href="/city-official-filter-POI" role="button">Back</a>
    </div>
      <!-- End of Add New Data Point -->


    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script>
      (function () {

        $(function(){
             $("#dptable").on("click", "tr[role=\"button\"]", function (e) {
                  console.log($(this));
                  console.log($(this).find("#poicell").html());
                  window.location = '/city-official-POI-detail?poi='+$(this).find("#poicell").html();
             });
        });

        $( "#flag" ).click(function() {
            var poi = $("#poi").val();
            var flag = {poi: poi};
            $.ajax({
              type: 'POST',
              url: '/flagpoi',
              data: flag,
              success: function(data) {
                window.location = '/city-official-POI-detail?poi='+poi;
                return false;
              },
              error: function(xhr) {
                var response = xhr.responseText;
                return false;
              }
            })
        });

        $( "#unflag" ).click(function() {
            var poi = $("#poi").val();
            var unflag = {poi: poi};
            $.ajax({
              type: 'POST',
              url: '/unflagpoi',
              data: unflag,
              success: function(data) {
                window.location = '/city-official-POI-detail?poi='+poi;
                return false;
              },
              error: function(xhr) {
                var response = xhr.responseText;
                return false;
              }
            })
        });

        $("#filterdp").submit(function() {
          var poi = $("#poi").val();
          var datatype = $("#datatype").find(":selected").val();
          var minValue = $("#valuefrom").val();
          var maxValue = $("#valueto").val();
          var datefrom = $("#datefrom").val();
          var timefrom = $("#timefrom").val();
          var minDate = datefrom+" "+timefrom;
          var dateto = $("#datefrom").val();
          var timeto = $("#timefrom").val();
          var maxDate = dateto+" "+timeto;
          var filter = {poi: poi, datatype: datatype, minValue: minValue, maxValue: maxValue, minDate: minDate, maxDate: maxDate};

          console.log(filter);
          $.ajax({
            type: 'POST',
            url: '/filterdatapoints',
            data: filter,
            success: function(data) {
              data.datapoints.forEach(function(datapoint) {
                  $('#dptable').find('tbody').append([
                    '<tr role="button">',
                        '<td id="poicell">'+datapoint.D_Type+'</td>',
                        '<td>'+datapoint.D_Value+'</td>',
                        '<td>'+datapoint.Date_Time+'</td>',
                    '</tr>'
                    ].join(''));
              });
              return false;
            },
            error: function(xhr) {
              var response = xhr.responseText;
              alert(response);
              return false;
            }
          })
        });

      })();

    </script>
  </body>
</html>
