<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.css"/>

  </head>

  <body>
    <div class="container">
    <h1>POI REPORT</h1></br></br>
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
              <th>POI Location Name</th>
              <th>City</th>
              <th>State</th>
              <th>Mold Min</th>
              <th>Mold Ave</th>
              <th>AQ Ave</th>
              <th>AQ Min</th>
              <th>AQ Max</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>POI Location Name</th>
                <th>City</th>
                <th>State</th>
                <th>Mold Min</th>
                <th>Mold Ave</th>
                <th>AQ Ave</th>
                <th>AQ Min</th>
                <th>AQ Max</th>
            </tr>
        </tfoot>
        <tbody>
          <% for(var i=0; i<results.length; i++) {%>
            <tr>
              <td value="<%= results[i].POI_LN %>"><%= results[i].POI_LN %></td>
              <td value="<%= results[i].City %>"><%= results[i].City %></td>
              <td value="<%= results[i].State%>"><%= results[i].State %></td>
              <td value="<%= results[i].moldMin %>"><%= results[i].moldMin %></td>
              <td value="<%= results[i].moldMax%>"><%= results[i].moldMax %></td>
              <td value="<%= results[i].AQAvg %>"><%= results[i].AQAvg %></td>
              <td value="<%= results[i].AQMin %>"><%= results[i].AQMin %></td>
              <td value="<%= results[i].AQMax%>"><%= results[i].AQMax %></td>
            </tr>
          <% } %>
        </tbody>
    </table>
    <a class="btn btn-link" href="/city-official-dashboard" role="button">Back</a>
</div>


    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>
    <script>
      (function () {
        $('#example').DataTable();
      })();

    </script>
  </body>
</html>
